/*** Colors ***/
$primary-color: #003171 !default;

/*** Fonts ***/
$roboto-font-path: "third-party/materialize/font/roboto/" !default;
$icons-font-path: "third-party/materialize/material-design-icons/" !default;

